/* Global */
:root {
  --clr-primary: #1f2937;
  --clr-secondary: #fff;
  --clr-light-contrast: #e5e7eb;
  --clr-muted: #f9faf8;
  --clr-accent: #3882f6;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Base */
body {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
img {
  display: block;
  max-width: 100%;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.25rem;
}

/* Components */
.logo {
  font-size: 1.5rem;
  font-weight: 900;
}
.btn {
  display: inline-block;
  padding: 0.5em 2em;
  border: 0;
  border-radius: 0.4em;
  background-color: var(--clr-accent);
  outline: 2px solid transparent;
  color: var(--clr-secondary);
  font-weight: 900;
  text-decoration: none;
  transition: outline 100ms ease-out, background-color 100ms ease-out;
}
.btn:hover,
.btn:focus {
  background-color: var(--clr-primary);
  outline: 2px solid #fff;
}
.btn--outline {
  outline: 2px solid #fff;
}
.main-menu {
  display: flex;
  gap: 1em;
  list-style: none;
}
.main-menu__link {
  color: var(--clr-light-contrast);
  font-size: 1.125rem;
  text-decoration: none;
}
.main-menu__link:hover,
.main-menu__link:focus {
  color: var(--clr-light-contrast);
  text-decoration: underline;
}
.thumbnail__image {
  aspect-ratio: 1;
  border: 3px solid var(--clr-accent);
  border-radius: 1em;
  margin-bottom: 0.5em;
  object-fit: cover;
  object-position: center;
}
.quote__text {
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 300;
}
.quote__origin {
  text-align: right;
  margin-top: 0.5em;
  font-size: 1.5rem;
  font-weight: 900;
}
.quote__origin::before {
  content: "- ";
}
.info-box {
  display: flex;
  gap: 2em;
  align-items: center;
  border-radius: 0.5em;
}
.info-box__title {
  font-size: 1.5rem;
  font-weight: 900;
}

/* Layout */
.container {
  max-width: 1000px;
  padding-inline: 2rem;
  margin-inline: auto;
}
.site-header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-footer > .container {
  display: flex;
  justify-content: center;
}
.flex-inline {
  display: flex;
  gap: 3em;
}
.flex-inline > * {
  flex: 1;
}

/* Utility */
.padding-x-xl {
  padding-inline: 8em;
}
.padding-y-sm {
  padding-block: 1em;
}
.padding-y-md {
  padding-block: 2em;
}
.padding-y-lg {
  padding-block: 3em;
}
.padding-y-xl {
  padding-block: 6em;
}
.margin-bttm-sm {
  margin-bottom: 1em;
}
.margin-bttm-md {
  margin-bottom: 2em;
}
.margin-lft-auto {
  margin-left: auto;
}
.bg-primary {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
}
.bg-muted {
  background-color: var(--clr-light-contrast);
}
.bg-accent {
  background-color: var(--clr-accent);
  color: var(--clr-secondary);
}
.hero-image {
  aspect-ratio: 2 / 1;
  object-fit: cover;
  object-position: center;
}
.text-center {
  text-align: center;
}
