/* Global */
:root {
  --clr-primary: #1f2937;
  --clr-secondary: #fff;
  --clr-light-contrast: #e5e7eb;
  --clr-muted: #f9faf8;
  --clr-accent: #3882f6;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Base */
body {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
img {
  display: block;
  max-width: 100%;
}
h1 {
  font-size: 3rem;
}
h2 {
  font: 2.25rem;
}

/* Components */
.logo {
  font-size: 1.5rem;
  font-weight: 900;
}
.btn {
  background-color: var(--clr-accent);
  color: var(--clr-secondary);
  font-weight: 900;
}
.main-menu {
  display: flex;
  gap: 1em;
  list-style: none;
}
.main-menu__link {
  color: var(--clr-light-contrast);
  font-size: 1.125rem;
  text-decoration: none;
}
.main-menu__link:hover,
.main-menu__link:focus {
  color: var(--clr-light-contrast);
  text-decoration: underline;
}
.quote__text {
  font-size: 2.25rem;
  font-style: italic;
}
.quote__origin {
  font-size: 1.5rem;
  font-weight: 900;
}
.info-box__title {
  font-size: 1.5rem;
  font-weight: 900;
}

/* Layout */
.site-header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Utility */
.container {
  max-width: 1000px;
  padding-inline: 2rem;
  margin-inline: auto;
}
.bg-primary {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
}
.bg-muted {
  background-color: var(--clr-light-contrast);
}
.bg-accent {
  background-color: var(--clr-accent);
  color: var(--clr-secondary);
}
